
# Elastic Beanstalk Files
# .elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Pipfile
Pipfile.lock
Pipfile

# Shell scripts
sh

# db config file
config.ini

# py cache
__pycache__/

# visual studio code
.vscode
