
# Elastic Beanstalk Files
# .elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Pipfile
Pipfile.lock
Pipfile

# Backup databases
backup-*/

# db config file
config.ini

# debug scripts
debug.py

# py cache
__pycache__/
*.pyc

# visual studio code
.vscode

# debug files
debug.py

# virtual env
venv

# local user files
local/
