
# Elastic Beanstalk Files
# .elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Pipfile
Pipfile.lock
Pipfile

# Backup databases
backup-*/

# db config file
config.ini

# debug scripts
debug.py

# py cache
__pycache__/

# visual studio code
.vscode

# virtual env
venv

# local user files
local/
